
<h3>{{viewTitle}}</h3>

<form method="post" action="/task" enctype="multipart/form-data">
    <input type="hidden" name="_id" value="{{task._id}}">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" placeholder="Task title" value="{{task.title}}">
        <div class="text-danger">
            {{task.titleError}}</div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="desc" placeholder="Description" value="{{task.desc}}">
        <div class="text-danger">
            {{task.descError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Media</label>
            <input type="file" class="form-control" name="file" placeholder="Select file" value="{{task.media}}">
        </div>
        <div class="form-group col-md-6">
            <label>Target Date</label>
            <input type="date" class="form-control" name="date" placeholder="Date" value="{{task.date}}">
            <div class="text-danger">
            {{task.dateError}}</div>
        </div>
        <div class="form-group col-md-6">
            <label>Status</label>
            <select type="text"  class="form-control" name="status"  value="{{task.status}}">
                <option value="todo" autofocus>Todo</option>
                <option value="in-progress">In-Progress</option>
                <option value="done">Done</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/task/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>
